<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        Medical Journals
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="journal.home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="journal.about">About</a>
        </li>
        <li ng-if="!authenticated" ui-sref-active="active">
          <a ui-sref="security.login">Login</a>
        </li>
        <li class="dropdown" ng-if="authenticated && (menuCtrl.roles.PUBLISHER || menuCtrl.roles.SUBSCRIBER)">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            Publications
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="publishing.publications">Journals</a>
            </li>
            <li ng-if="menuCtrl.roles.SUBSCRIBER">
              <a ui-sref="publishing.subscriptions">Subscriptions</a>
            </li>
            <li ng-if="menuCtrl.roles.PUBLISHER">
              <a ui-sref="publishing.publish">Publish</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-if="authenticated && enuCtrl.roles.ADMIN">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            Admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="users.list">Users</a>
            </li>
          </ul>
        </li>
        <li ng-if="authenticated">
          <a ui-sref="security.logout">Logout</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>