<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form name="userForm" class="form-horizontal" autocomplete="off" novalidate role="form">
      <input type="hidden" name="userId" ng-model="userCtrl.user.userId"/>
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <p class="bg-warning">All fields are required.</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="role" class="control-label col-sm-3">
          User Role
        </label>
        <div class="col-sm-9">
          <select name="role" id="role" class="form-control" ng-model="userCtrl.user.role" required>
            <option value="PUBLISHER">Publisher</option>
            <option value="SUBSCRIBER">Subscriber</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="control-label col-sm-3">
          Username
        </label>
        <div class="col-sm-9">
          <input type="text" name="username" id="username" class="form-control" required
                 placeholder="Username" ng-model="userCtrl.user.username" ng-readonly="userCtrl.user.userId"/>
        </div>
      </div>
      <div class="form-group" ng-if="!userCtrl.user.userId">
        <label for="password" class="control-label col-sm-3">
          Password
        </label>
        <div class="col-sm-9">
          <input type="password" name="password" id="password" class="form-control" required
                 placeholder="Password" ng-model="userCtrl.user.password"/>
        </div>
      </div>
      <div class="form-group" ng-if="!userCtrl.user.userId">
        <label for="passwordConfirmation" class="control-label col-sm-3">
          Password Confirmation
        </label>
        <div class="col-sm-9">
          <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control" required
                 placeholder="Password Confirmation" ng-model="userCtrl.passwordConfirmation"/>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="control-label col-sm-3">
          Last Name
        </label>
        <div class="col-sm-9">
          <input type="text" name="lastName" id="lastName" class="form-control" required
                 placeholder="Last Name" ng-model="userCtrl.user.lastName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName" class="control-label col-sm-3">
          First Name
        </label>
        <div class="col-sm-9">
          <input type="text" name="firstName" id="firstName" class="form-control" required
                 placeholder="First Name" ng-model="userCtrl.user.firstName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="middleName" class="control-label col-sm-3">
          Middle Name
        </label>
        <div class="col-sm-9">
          <input type="text" name="middleName" id="middleName" class="form-control" required
                 placeholder="Middle Name" ng-model="userCtrl.user.middleName"/>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="userCtrl.save(userForm)" ng-disabled="userCtrl.saving">
          <i class="fa fa-white fa-floppy" ng-hide="userCtrl.saving"></i>
          <i class="fa fa-white fa-spin fa-spinner" ng-show="userCtrl.saving"></i>
          Save
        </button>
        <button type="button" class="btn btn-default" ui-sref="users.list">
          <i class="fa fa-times"></i>
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>