<div class="row">
  <div class="col-sm-12">
    <div class="pull-left">
      <label for="query" class="sr-only">Search Users</label>
      <input type="text" placeholder="Search Users" class="form-control" id="query"
             ng-model="userCtrl.query" ng-keypress="$event.which === 13 && userCtrl.search()"/>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-default" uib-tooltip="Add User" ui-sref="users.add">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>User ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Date Registered</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr ng-repeat="user in userCtrl.users">
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default" uib-tooltip="Edit User" ui-sref="users.edit({ 'userId' : user.userId })">
                  <i class="fa fa-pencil"></i>
                </button>
              </div>
            </td>
            <td ng-bind-html="user.userId"></td>
            <td ng-bind-html="user.username"></td>
            <td ng-bind-html="user.fullname"></td>
            <td ng-bind-html="user.dateRegistered"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>