<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Published Medical Journals</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="pull-left">
      <label for="query" class="sr-only">Search Journals</label>
      <input type="text" placeholder="Search Journals" class="form-control" id="query"
             ng-model="pubsCtrl.query" ng-keypress="$event.which === 13 && pubsCtrl.search()"/>
    </div>
    <div class="pull-right" ng-fi="hasRole('PUBLISHER')">
      <button type="button" class="btn btn-default" uib-tooltip="Add Journal" ui-sref="publishing.publish">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Title</th>
            <th>Date Published</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr ng-repeat="pub in pubsCtrl.publications" ng-init="journal = pub.journal">
            <td>
              <button type="button" class="btn btn-default" uib-tooltip="Edit Journal" ng-if="hasRole('PUBLISHER')"
                      ui-sref="publishing.editJournal({ 'journalId' : journal.journalId })">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-default" uib-tooltip="Subscribe" ng-if="hasRole('SUBSCRIBER')"
                      ui-sref="publishing.subscribe({ 'journalId' : journal.journalId })">
                <ia class="fa fa-check"></ia>
              </button>
            </td>
            <td ng-bind-html="journal.journalId"></td>
            <td>
              <strong ng-bind-html="journal.title"></strong>
              <p class="help-block" ng-bind-html="journal.subtitle"></p>
            </td>
            <td ng-bind-html="journal.datePublished"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>