<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form name="publishForm" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group">
        <label for="title" class="control-label col-sm-3">
          Title
        </label>
        <div class="col-sm-9">
          <input type="text" name="title" id="title" class="form-control"
                 placeholder="Publication Title" ng-model="pubCtrl.journal.title"/>
        </div>
      </div>
      <div class="form-group">
        <label for="subtitle" class="control-label col-sm-3">
          Sub Title
        </label>
        <div class="col-sm-9">
          <input type="text" name="subtitle" id="subtitle" class="form-control"
                 placeholder="Publication Subtitle" ng-model="pubCtrl.journal.subtitle"/>
        </div>
      </div>
      <div class="form-group">
        <dualmultiselect options="dmsOptions"></dualmultiselect>
      </div>
      <div class="form-group">
        <label for="publicationFile" class="control-label col-sm-3">
          Publication File
        </label>
        <div class="col-sm-9">
          <input type="file" name="publicationFile" id="publicationFile" class="form-control" accept="application/pdf"
                 ng-model="pubCtrl.publicationFile" ng-change="pubCtrl.fileAttached($event)"/>
          <p class="help-block">Only PDF files are accepted.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary" ng-click="pubCtrl.publish($event)" ng-disabled="loading">
            <i class="fa fa-white fa-cloud-upload" aria-hidden="true" ng-hide="loading"></i>
            <i class="fa fa-white fa-spin fa-spinner" aria-hidden="true" ng-show="loading"></i>
            Publish
          </button>
          <button type="button" class="btn btn-default" ui-sref="publishing.publications">
            <i class="fa fa-times"></i>
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>