<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Subscribed Medical Journals</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Title</th>
            <th>Date Subscribed</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr ng-repeat="sub in subsCtrl.subscriptions" ng-init="journal = sub.journal">
            <td>
              <button type="button" class="btn btn-default" uib-tooltip="Unsubscribe" ng-if="hasRole('SUBSCRIBER')"
                      ui-sref="publishing.unsubscribe({ 'subscriberId' : sub.subscriberId })">
                <i class="fa fa-times"></i>
              </button>
            </td>
            <td ng-bind-html="journal.journalId"></td>
            <td>
              <strong ng-bind-html="journal.title"></strong>
              <p class="help-block" ng-bind-html="journal.subtitle"></p>
            </td>
            <td ng-bind-html="sub.dateSubscribed"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>