<div class="row">
  <div class="col-sm-12" ng-if="subCtrl.success">
    <h2>Congratulations!</h2>
    <p>
      You have subscribed to <strong ng-bind-html="subCtrl.journal.title"></strong>!
    </p>
  </div>
  <div class="col-sm-12" ng-if="!subCtrl.success">
    <h2>Aw, snap!</h2>
    <p>We apologize for the inconvenience.</p>
  </div>
</div>