<div class="row" ng-if="!authenticated">
  <div class="col-sm-4">
    <form name="loginForm" class="form-horizontal" role="form">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="username" class="sr-only control-label">
              Username
            </label>
            <input type="text" name="username" id="username" class="form-control"
                   placeholder="Username" ng-model="credentials.username"/>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only control-label">
              Password
            </label>
            <input type="password" name="password" id="password" class="form-control"
                   placeholder="Password" ng-model="credentials.password"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary" ng-click="loginCtrl.login($event)" ng-disabled="loading">
            <i class="fa fa-white fa-key" ng-hide="loading"></i>
            <i class="fa fa-white fa-spin fa-spinner" ng-show="loading"></i>
            Login
          </button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-times"></i>
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" ng-if="authenticated">
  <div class="col-sm-12">
    <h2 ng-bind-html="'Your currently logged in as ' + fullname"></h2>
  </div>
</div>